<!-- template.hbs -->
<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <style>
        /* Add your styles here */
        body {
            font-family: Arial, sans-serif;
        }
    </style>
    <title>AdhereLive - Prescription</title>
</head>
<body>
    <h1>{{title}}</h1>
        <div>{{content}}</div>
        <!-- Static content that will be replaced with translations -->
        <div>{{staticField1}}</div>
    <div>{{staticField2}}</div>
</body>
</html>